<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="testrun.FirstMaven"/>
      <class name="testrun.validationwithAssert"/>
      <class name="testrun.functionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
